<h2>Preguntas y Respuestas</h2>
<ul class="list-group list-group-flush">
    <li *ngFor="let pregre of pregres" (click)="onSelect(pregre)" class="list-group-item">
        <div><span>// id: </span>{{pregre.id}}
        <span> // sección: </span>{{pregre.seccion}}</div>
        <div *ngIf="pregre.esTitulo"><span class="badge text-bg-secondary me-2">Título: </span>{{pregre.titulo}}</div>
        <div *ngIf="!pregre.esTitulo"><span>Pregunta: </span>{{pregre.pregunta}}</div>
        <div *ngIf="!pregre.esTitulo"><span>Respuesta: </span>{{pregre.respuesta}}</div>
    </li>
</ul>

<app-detalle-pregunta [pregre]="selectedPregre"></app-detalle-pregunta>