<h2>Preguntas y Respuestas</h2>
<ul>
    <li *ngFor="let pregre of pregres" (click)="onSelect(pregre)">
        <div><span>id: </span>{{pregre.id}}</div>
        <div><span>sección: </span>{{pregre.seccion}}</div>
        <div><span>esTitulo: </span>{{pregre.esTitulo}}</div>
        <div><span>Título: </span>{{pregre.titulo}}</div>
        <div><span>Pregunta: </span>{{pregre.pregunta}}</div>
        <div><span>Respuesta: </span>{{pregre.respuesta}}</div>
    </li>
</ul>

<app-detalle-pregunta [pregre]="selectedPregre"></app-detalle-pregunta>